body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header{
    position: fixed;
    background: #22242A;
    padding: 20px;
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.left-area span{
    color: #1dc4e7;
}

.logout_btn{
    padding: 5px;
    background: #19b3d3;
    text-decoration: none;
    margin-right: 40px;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
}

.logout_btn:hover{
    background: #009dbb;
}

label #sidebar_menu{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}
label #sidebar_menu:hover{
    color: #19b3d3;
}

.sidebar{
    background: #2f323a;
    margin-top: 7vh;
    padding-top: 2rem;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    overflow: scroll;
    transition: 0.5s;
    transition-property: left;
}
.sidebar .profile_pic_container{
    display: flex;
    justify-content: center;
}

.sidebar .profile_image, .fa-user-circle-o{
    width: 100px;
    height: 100px;
    border: 5px solid #f2f2f2;
    border-radius: 50%;
    margin-bottom: 10px;
}
.sidebar .profile_image, .fa-user-circle-o{
    color: #fff;
}
.sidebar  h2, h4{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}
.sidebar a:hover{
    background: #19b3d3;
}

.sidebar i{
    padding-right: 10px;
}

#check:checked ~ .sidebar{
    left: -190px;
    overflow: hidden;
}
#check:checked ~ .sidebar a span{
    display: none;
}
#check:checked ~.sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

.content{
    margin-left: 250px;
    background: url(/sky.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
    transition-property: margin-left;
}

#check:checked ~.content{
    margin-left: 60px;
}

#check{
    display: none;
}

.sidebar .logout{
    display: none;
}

@media only screen and (max-width: 450px){
    header .right-area{
        display: none;
    }
    .sidebar .logout{
        display: block;
    }
   
}
@media only screen and (max-width: 320px){
    header .left-area{
        display: flex;
        justify-content: space-between;
    }
    label #sidebar_menu{
        left: 0 !important;
    }
    .left-area h3{
        margin-left: 20px;
        font-size: 16px;
    }
}

/* ::-webkit-scrollbar {
    width: 12px;
    background: #fff;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
} */