<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/all.min.css">
</head>
<body>

    <input type="checkbox" id="check">
    <!-- header area starter -->
    <header>
        <div class="left-area">
            <label for="check">
                <i class="fas fa-bars" id="sidebar_menu"></i>
            </label>
            <h3>KingEkeoms </h3>
        </div>
        <div class="right-area">
            <a href="" class="logout_btn">Logout</a>
            <!-- <a href="" class="logout_btn">Login</a> -->
        </div>
    </header>
    <!-- header area end -->

    <!-- Sidebar start -->
    <div class="sidebar">
        <h2>Admin</h2>
        <div class="profile_pic_container">
            <!-- <i class="fa fa-user-circle-o" aria-hidden="true"></i> -->
            <img src="post-4.png" class="profile_image" alt="">
        </div>
        <h4>John Joe</h4>
        <a href="#"><i class="fas fa-newspaper"></i><span>Articles</span></a>
        <a href="#"><i class="fa fa-users" aria-hidden="true"></i><span>Writers</span></a>
        <a href="#"><i class="fas fa-desktop"></i><span>Desktop</span></a>
        <a href="#"><i class="fas fa-cogs"></i><span>Components</span></a>
        <a href="#"><i class="fas fa-table"></i><span>Tables</span></a>
        <a href="#"><i class="fas fa-th"></i><span>Forms</span></a>
        <a href="#"><i class="fas fa-info-circle"></i><span>About</span></a>
        <a href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a>
        <a href="#"><i class="fas fa-sliders-h"></i><span>Contact</span></a>
        <a href="#"><i class="fas fa-sliders-h"></i><span>Contact</span></a>
        <a href="#"><i class="fas fa-sliders-h"></i><span>Contact</span></a>
        <a href="#"><i class="fas fa-sliders-h"></i><span>Contact</span></a>
        <a href="#"><i class="fas fa-sliders-h"></i><span>Contact</span></a>
        <a href="" class="logout"><i class="fas fa-sign-out"></i><span>Logout</span></a>
    </div>
    <!-- Sidebar end -->

    <!-- Content starts here -->
    <div class="content"></div>
    <!-- Content ends here -->
</body>
</html>