@import url('fonts.css');

.nav{
    background: #fff;
    padding: 0 2rem;
    height: 0rem;
    min-height: 9vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
    border-bottom: .5px solid var(--midnight);
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse{
    height: 31rem;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Sanchez);
}

.nav .nav-items .active, .nav .nav-items .nav-link:hover{
     background-color: var(--midnight);
     color: var(--white);
}

.nav .nav-items .nav-link:hover a{
    color: var(--white);
}


.nav .nav-brand a{
    font-size: 2rem;
    padding: 1rem 0;
    display: block;
    font-size: 1.6rem;
    font-family: var(--Arvo);
    font-weight: 700;
}

.nav .social{
    padding: 1.4rem 0;
}

.nav .social i{
    padding: 0 .2rem;
}

.nav .social i:hover{
    color: var(--armor);
}


/* viewport less than or equal to 750px */
@media only screen and (max-width:800px){
    .nav .nav-menu, .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }
}

@media only screen and (max-width: 520px){
    nav .toggle-collapse{
        width: 80% !important; 
    }
}
