@import url('/fonts.css');

html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{
    /* theme Colors */
    --text-gray: #3f4954;
    --text-light: #686688;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight:#104f55;
    --olive-drab: #6B8E23;
    --capuccion: #854442;
    --snow: #FFFAFA;
    --armor: #8dbdff;
    /*theme Gradient color */
    --sky: linear-gradient(120deg, #a1c4fd, #c2e9fb 100%);

    /* theme font-family */
    --Arvo: 'Arvo', cursive;
    --Josefin-Slab: 'Josefin-Slab', cursive;
    --Roboto: 'Josefin', cursive;
    --Sanchez: 'Sanchez', cursive;

}

/* Global Classes */

a{
    text-decoration: none;
    color: var(--text-gray);
}

ul{
    list-style-type: none;

}

h1{
    font-family: var(--Roboto);
    font-size: 2.0rem;
}

h2{
    font-family: var(--Lexend);
}

h3{
    font-family: var(--Roboto);
    font-size: 1.3rem;
}

span{
    font-family: var(--Josefin-Slab);
}

.container{
    margin: 0 5rem;
}

.text-gray{
    color: var(--text-gray);
}

p{
    font-family: var(--Sanchez);
    color: var(--text-light);
}


.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Arvo);
    cursor: pointer;
    outline: none;
    margin: 2rem;
}



.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*xxx Global Classes  xxxxx */


/*--------------NAVIGATION ------------------*/
.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse{
    height: 30rem;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover{
     background-color: var(--olive-drab);
     color: var(--white);
}

.nav .nav-items .nav-link:hover a{
    color: var(--white);
}
.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-size: 1.6rem;
}

.nav .social{
    padding: 1.4rem 0;
}

.nav .social i{
    padding: 0 .2rem;
}

.nav .social i:hover{
    color: #a1c4cf;
}

/*============== MAIN SITE ==========*/


/*--------------- Site Title ------*/

main .landing-title{
    background-image:url('../images/5.JPG');
    background-position: center;
    background-size: cover;
    height: 100vh; 
    display: flex;  
    justify-content: center;
}

main .landing-title .landing-background{
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
}


main .landing-title h1,h3{
    margin: .3rem;
}
main .landing-title h1{
    margin-bottom: 2.5rem;
}

main .landing-title .btn{
    margin: 1.8rem;
    background:var(--sky);
}

main .landing-title .btn:hover{
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}


/*=============Site content======*/

main .site-content{
    display: grid;
    grid-template-columns: 30% 70%
}


main .title{
    text-align: center;
    line-height: 60px;
    letter-spacing: .3rem;
    font-size: 1rem;
    background: var(--olive-drab);
    text-transform: uppercase;
}

/*============About Me===========*/
main .about-me-content{
    width: 100%;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 5px #000;
}


main .site-content .about-me-image > div{
    overflow: hidden;
}

main .site-content .about-me-image .image-background  img {
    width: 100%;
}

/* main .site-content .about-me-image .my-avatar .avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid red;
} */

main .site-content .about-me-content > .about-me-info{
    padding: 0 2rem;
    text-align: center;
}



/*===========Blog post / Site content==========*/
main .posts{
    margin-left: 20px;
}

main .post-content{
    width: 100%;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 5px #000;
}

main .site-content .post-content >  .post-image, .post-title, .post-description{
    padding: 1rem 2rem;
    position: relative;
}

main .site-content .post-content > .post-image .post-info{
    background: var(--olive-drab);
    padding: .8rem 1.5rem;
    position: absolute;
    bottom: 0%;
    left: 25%;
    border-radius: 3rem;
}

main .site-content > .post-image > div{
    overflow: hidden;
}

main .site-content .post-content > .post-image .img{
    width: 100%;
    transition: all 1s ease;
}

main .site-content .post-content > .post-image .post-info span{
    margin: 0 .5rem;
}

main .post-content .post-title h2{
    text-align: center;
    font-family: var(--Anton);
    font-size: 1.5rem ;
}

.site-content .post-content .post-description{
    text-align: center;
}
.site-content .post-content .post-description .post-btn{
    text-align: center;
    border-radius: 0;
    padding: .7rem 1.5rem;
    background: var(--olive-drab);
}

hr{
    width: 100%;
    margin: 0;
}
/*==============Footer=========*/

footer.footer{
    height: 100%;
    background: var(--bg-color);
    position: relative;
}

footer.footer .container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2{
    color: var(--white);
}

footer.footer .newsletter .form-element{
    background: black;
    display: inline-block;
}

footer.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-family: var(--Josefin);
    font-size: 1rem;
    width: 74%;
}

footer.footer .newsletter .form-element span{
    background: var(--sky);
    padding: .5rem .7rem;
    cursor: pointer;
}

footer.footer .instagram div > img{
    display: inline-block; 
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}

footer.footer .follow div i{
    color: var(--white);
    padding: 0 .4rem;
}

footer.footer .rights{
    justify-content: center;
    font-family: var(--Josefin);
}

footer.footer .rights h4 a{
    color: white;
}

footer.footer .move-up{
    position: absolute;
    right: 6%;
    top: 50%;  
}

footer.footer .move-up span{
    color: var(--olive-drab);
}

footer.footer .move-up span:hover{
    color: var(--white);
    cursor: pointer;
}


/* viewport less than or equal to 750px */
@media only screen and (max-width: 1150px){

    footer.footer .container{
        grid-template-columns:repeat(2,1fr);
    }
    
}

@media only screen and (max-width:1000px){
    .nav .nav-menu, .nav-items{
        /* display: flex; */
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }

    main .site-content{
        grid-template-columns: 100% !important;
    }
    main .posts{
        margin-left: 0 !important;
    }
}

@media only screen and (max-width:750px){
    
    main .site-content .post-content > .post-image .post-info{
        background: var(--white);
        bottom: initial !important;
        left: initial !important;
        border-radius: 0 !important;
    }

    .btn{
        margin: 1rem !important;
    }
}

@media only screen and (max-width:550px){
    .container{
        margin: 0 1rem;
    }

    main section .about-me{
        display: none;
    }

    main section .post-content .post-info{
        display: none;
    }
    main section ,.post-content .post-description{
        padding: 0 1rem !important;
    }

    .post-btn{
        padding: .5rem 1rem !important;
    }
    footer.footer .container{
        grid-template-columns:repeat(1,1fr);
    }
}

@media only screen and (min-height: 1000px){
    .nav{
        min-height: 7vh;
    }
}
