@import url('https://fonts.googleapis.com/css?family=Lobster+Two:700|Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  text-align: center;
  background: #44d1ee;
  font-family: 'Poppins',sans-serif;
}

::selection{
    color: white;
    background: #48DBFB;
  }

.center, .start-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
}