
    <footer class="footer">
        <div class="container">
            <div class="about-us" > 
                <h2>Contact me</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                 Aspernatur, debitis ipsam qu voluptas expedita aliquid optio
                 sapiente quis nisi neque?</p>
            </div>
            <div class="newsletter">
                <h2>Newsletter</h2>
                <p>Stay Updated with our latest</p>
                <div class="form-element">
                    <input type="text" placeholder="Email"><span><i class="fas fa-chevron-right"></i></span>
                </div>
            </div>
            <div class="instagram">
                <h2>Instagram</h2>
                <div class="flex-row">
                    <img src="./assets/instagram/thumb-card3.png" alt="insta1">
                    <img src="./assets/instagram/thumb-card4.png" alt="insta2">
                    <img src="./assets/instagram/thumb-card5.png" alt="insta3">
                </div>
                <div class="flex-row">
                    <img src="./assets/instagram/thumb-card6.png" alt="insta4">
                    <img src="./assets/instagram/thumb-card7.png" alt="insta5">
                    <img src="./assets/instagram/thumb-card8.png" alt="insta6">
                </div>
            </div>
            <div class="follow">
                <h2>Follow Me</h2>
                <p>Let us be social</p>
                <div>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>

        </div>
        <div class="rights flex-row">
            <h4 class="text-gray">
                Copyright 2020 All rights reserved | Made by 
                <a href="http://www.youtube.com/c/Kingekeoms" target="black">trinityimma <i class="fab fa-youtube"></i> Channel</a> 
            </h4>
        </div>
        <div class="move-up">
            <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
        </div>
    </footer>
    
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>