<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KingEkeoms</title>
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <link rel="stylesheet" href="/stylesheets/all.min.css">
</head>
<body>
    <%- include('partials/nav'); %>

    <section class="landing">
        <div class="landing-header">
            <h1>Welcome to KingEkeoms Blog!</h1>
            <h3> Engineering and Lifestyle</h3>
            <a class="btn" href="/articles" >Explore</a>
        </div>
    </section>

    <%- include('partials/footer'); %>

 